
<div id="position">
   <form name="form" (ngSubmit)="f.form.valid && loginUser()" #f="ngForm" novalidate>
      <h3>Login</h3>
    <div class="form-group">
      <label>Username :
      <input type="text" class="form-control"  id="username"  placeholder="username"
      [ngClass]="{ 'is-invalid': f.submitted && username.invalid }"
      name="username"  [(ngModel)]="user.username" #username="ngModel" required />
      <div *ngIf="f.submitted && !username.valid" class="invalid-feedback">
        <div *ngIf="username.errors.required">username is required</div>
      </div>
      </label>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password :</label>
      <input type="password" class="form-control"  id="password" placeholder="Password"
      [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
      name="password" [(ngModel)]="user.password" #password="ngModel" required />
      <div *ngIf="f.submitted && !password.valid" class="invalid-feedback">
        <div *ngIf="password.errors.required">password is required</div>
      </div>
    </div>
    <button type="submit"  class="btn btn-primary">Login</button>
    <button type="reset"  class="btn btn-primary">Clear</button>
   </form>
  </div>


